.cryptocurrency {
    padding: 1rem 2rem 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    min-width: 9rem;
    border: solid 1px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    flex-basis: 300px;
}
.cryptocurrency p {
    font-size: 20px;
}
.cryptocurrency-name {
    font-size: 30px;
}
.btc {
    border-bottom: solid 6px #ffc400;
    border-top: solid 6px #ffc400;
}
.eth {
    border-bottom: solid 6px #454a75;
    border-top: solid 6px #454a75;
}
.xrp {
    border-bottom: solid 6px #000000;
    border-top: solid 6px #000000;
}

.ltc {
    border-bottom: solid 6px #bebebe;
    border-top: solid 6px #bebebe;
}
.usdt {
    border-bottom: solid 6px #02bd50;
    border-top: solid 6px #02bd50;
}
.bnb {
    border-bottom: solid 6px #ffbb00;
    border-top: solid 6px #ffbb00;
}
.bch {
    border-bottom: solid 6px #6dc000be;
    border-top: solid 6px #6dc000be;
}
.xlm {
    border-bottom: solid 6px #020daaab;
    border-top: solid 6px #020daaab;
}
.trx {
    border-bottom: solid 6px #928f8f;
    border-top: solid 6px #928f8f;
}
.miota {
    border-bottom: solid 6px #6b6b6b;
    border-top: solid 6px #6b6b6b;
}
.xmr {
    border-bottom: solid 6px #e46917;
    border-top: solid 6px #e46917;
}