.cryptocurrency {
    padding: 1rem 2rem 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    min-width: 9rem;
    border: solid 1px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    flex-basis: 300px;
}
.cryptocurrency p {
    font-size: 20px;
}
.cryptocurrency-name {
    font-size: 30px;
}
.bitcoin {
    border-bottom: solid 6px #ffc400;
    border-top: solid 6px #ffc400;
    
}
.ethereum {
    border-bottom: solid 6px #454a75;
    border-top: solid 6px #454a75;

}
.xrp {
    border-bottom: solid 6px #e45757;
    border-top: solid 6px #e45757;

}

.litecoin {
    border-bottom: solid 6px #bebebe;
    border-top: solid 6px #bebebe;

}
.tether {
    border-bottom: solid 6px #02bd50;
    border-top: solid 6px #02bd50;

}
.binance-coin {
    border-bottom: solid 6px #ffbb00;
    border-top: solid 6px #ffbb00;

}
.bitcoin-cash {
    border-bottom: solid 6px #6dc000be;
    border-top: solid 6px #6dc000be;

}
.stellar {
    border-bottom: solid 6px #020daaab;
    border-top: solid 6px #020daaab;

}
.tron {
    border-bottom: solid 6px #928f8f;
    border-top: solid 6px #928f8f;

}
.iota {
    border-bottom: solid 6px #6b6b6b;
    border-top: solid 6px #6b6b6b;

}
.monero {
    border-bottom: solid 6px #e46917;
    border-top: solid 6px #e46917;

}